/* GENERAL RULES FOR THE COLS */

[class*="col-"] {
border: 1px solid transparent;

  /* background-color: yellow;
  min-height: 70px;
  border: 1px solid black; */
}

/* THIS MAKES ALL THE BULLETS GO AWAY */
ul, ol {
  list-style: none;
}

/* THIS MAKES ALL THE LINKS NOT UNDERLINED */
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

/* BODY: BECAUSE OF THE HEADING IN POSITION FIXED */
body {
  padding-top: 70px;
}

/* ---------------------------header----------------------------------------- */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 900;
  height: 70px;
  line-height: 70px;
  background-color: #FFFFFF;
}

/* -------------ONE--------------- */

#logo-pic {
  vertical-align: middle;
  max-width: 100%;
}

/* --------------TWO---------------- */

.head2 li {
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.head2 a {
  color: #000000;
}

.head2 a:hover {
  color: blue;
}

/* -------------THREE--------------------- */

ul.head3 {
  list-style-type: none;
}

.head3 li {
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.head3 li:last-child {
  margin:0;
}

.head3 a {
  color: #000000;
}

.head3 a:hover {
  color: blue;
}

.head3 .sign-up-link a {
  color: blue;
}

.sign-up-link a {
padding: 10px 10px 10px 10px;
border: 1px solid blue;
border-radius: 5px;
color: blue;
margin-right: 0;
}

#db-hamburger {
  margin-right: 2px;
  font-size: 50px;
  color: blue;
}

#db-hamburger:visited,
#db-hamburger:hover,
#db-hamburger:link {
  color: blue;
}

.text-right {
  text-align: right;
}

/* ----------------------------JUMBOTRON------------------------------------ */

.jumbotron {
  width: 100%;
  background-image: url(../img/jumbo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

.db-pad {
  padding: 80px 0px 0px 0px;
}

.jumbo-text {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.jumbo-text > h1 {
  font-size: 60px;
}

.jumbo-text > p {
  padding-top: 20px;
  font-size: 25px;
}

.db-white-container {
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

.db-white-container > h3 {
  color: blue;
  padding-bottom: 20px;
}

/* --------------------------------FORM-------------------------------------- */

#db-email, #db-pwd {
  height: 35px;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form1 input[type=submit] {
  width: 80%;
  padding: 10px 0px 10px 0px;
  background-color: #579aff;
  border: none;
  color: white;
  text-decoration: none;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.form1 input[type=button] {
  background-image: url(../img/google-icon.png);
  background-position: left;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 80%;
  padding: 10px 0px 10px 0px;
  border: 0.5 solid black;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  background-color: #FFFFFF;
}

.db-terms-service {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

/* THIS MAKES A HREF UNDERLINED (AT LINE 17 OF CSS THERE IS A COMMAND TO GET RID OF ALL UNDERLINED) */
.db-underlined #terms-service {
  text-decoration: underline;
}

/* ---------------------------WEBSITE LOGOS SECTION--------------------------- */

/* THIS CSS TAKES THE BACKGROUND OF TWO SECTIONS (THE ONES IN GRAY) */
.under-jumbotron, .db-designed-developers {
  text-align: center;
  height: 100%;
  line-height: 70px;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f5f9;
}

.first-under-jumbotron h3 {
  color: #8690a8;
}

.website-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* THIS LINK CAN BE USED AGAIN */
.db-link-reusable {
  text-decoration: none;
  color: blue;
}

/* --------------------"DEPLOY AND SCALE" SECTION*-----------------------------/
/* */
.db-pad-bottom {
padding-bottom: 50px;
}

.db-deploy-style {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}

.db-deploy {
  position: relative;/*ONE OF ITS SONS IS IN POSITION ABSOLUTE IN MEDIA QUERY XS(db-weird-stuff)*/
  min-height: 200px;
  line-height: 200%;
  font-size: 18px;
}

.db-weird-stuff {
  width: 30%;
  margin: auto;
  border-left: 1px solid grey;
  line-height: 200%;
  color: #5c6a88;
  padding-left: 5px;
}

/*ADVANCED SELECTION FOR MULTIPLE SECTIONS*/
.db-deploy-style > h2,
.db-design-developers-text > h2,
.db-feature > h2 {
  color: #031c4e;
  font-size: 30px;
  padding-top: 80px;
}

/*ADVANCED SELECTION FOR MULTIPLE SECTIONS*/
.db-deploy-style > p,
.db-design-developers-text > p {
  color: #5c6a88;
  font-size: 25px;
  padding-top: 10px;
}

.db-colortext1 {
  color: #031c4e;
}

.db-colortext2 {
  color: #5c6a88;
}

/* -------------------"DESIGNED FOR DEVELOPERS" section---------------------- */

.disabled-link {
  pointer-events: none;
  cursor: default;
  color: grey;
}

.active-link a {
  color: #031c4e;
}

.active-link a:link,
.active-link a:visited,
.active-link a:active,
.active-link a:hover {
  color: #031c4e;
}

/* THIS MAKES THE 2 ARROWS GO DOWN TO THE MIDDLE OF THE IMAGE (BOTH ARROWS
 simultaneously) */
.db-invisible-xs {
  position: relative;
  top: 175px;
  font-size: 30px;
}


.db-design-developers-text > h3 {
  color: #031c4e;
}

.db-design-developers-text span {
  color: #006aff;
}

/* THIS IS JUST TO SET THE BACKGROUND SIZE (SEE BELOW) */
.db-design-developers-text {
  height: 100%;
  width: 100%;
}
/* THE FIRST ONE IS FOR ANOTHER SECTION "LOVE DIGITAL OCEAN" THE SECTION UNDERNEATH THE FAKE TABLE */
.db-design-developers-text span:nth-child(1):hover,
.db-design-developers-text span:nth-child(2):hover,
.db-design-developers-text span:nth-child(3):hover,
.db-design-developers-text span:nth-child(4):hover,
.db-design-developers-text span:nth-child(5):hover {
  background-image: url(../img/full-circle.ico);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 88%;
}

/* ------------------------FEATURES SECTION---------------------------------- */

.db-feature > h2 {
  text-align: center;
  padding: 80px 0px 20px 0px;
}

.db-feature > h3 {
  color: #031c4e;
  padding-top: 20px;
}

.db-feature > p {
  color: #006aff;
  padding: 20px 10px 0px 0px;
}

.db-feature > a {
  display: block;
  padding: 20px 10px 80px 0px;
}

/* ----------------------------FAKE TABLE SECTION----------------------------- */

.container1::after {
  content: "";
  display: table;
  clear: both;
}

.db-fake-table-background {
  width: 100%;
  min-height: 600px;
  background: linear-gradient(#0047c5, #001e9a);
  padding-bottom: 60px;
  padding-top: 80px;
}

.container1 {
  height: 100%;
}

.db-padding-nested {
  padding: 10px 30px 10px 0px;
}

.db-heading-faketable {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.db-inside-boxes {
  width: 100%;
  height: inherit;
  line-height: 75px;
  color: #FFFFFF;
  border-bottom: 2px solid white;
  font-family: 'Roboto', sans-serif;
}

.db-inside-boxes span:nth-child(1) {
  padding: 10px 50px 5px 10px;
}

.db-inside-boxes span:nth-child(1),
.db-inside-boxes span:nth-child(2),
.db-inside-boxes span:nth-child(3) {
  font-weight: bold;
}

.db-inside-boxes span:nth-child(2) {
  font-weight: lighter;
}

.db-inside-boxes span:nth-child(3) {
  float: right;
  color: #0091c5;
  margin-right: 20px;
}

.db-test-speed a:link,
.db-test-speed a:visited,
.db-test-speed a:active,
.db-test-speed a:hover {
  color: #0091c5;
}

/* THIS MAKES THE LAST BORDER INVISIBLE (NEW YORK X 2) */
.db-no-border {
  border-color: transparent;
}

/* ------------------"LOVE DIGITAL OCEAN" SECTION------------------------------ */

.db-another-container {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#db-useless-image {
  padding-top: 80px;
  text-align: center;
}

.db-another-container > p:first-of-type {
  line-height: 1.6;
  color: #5c6a88;
  font-size: 20px;
}

.db-another-container > p:nth-child(3) {
  color: #061f50;
  font-weight: bold;
  font-size: 15px;
}

.db-another-container > p:nth-child(4) {
  position: relative;
  bottom: 45px;
}

.db-another-container > p:nth-child(5) {
  position: relative;
  bottom: 45px;
}

#db-four-little-pigs {
  text-align: center;
}

/* ----------------------PRE-FOOTER SECTION (IN BLUE)------------------------ */

.db-sfondo-blu {
  width: 100%;
  background: linear-gradient(#0047c5, #001e9a);
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.db-testo-improbabile > h2 {
  color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 35px;
}

.db-testo-improbabile {
  padding-bottom: 80px;
}

#db-link-bianco {
  display: inline-block;
  width: 30%;
  padding: 2% 2% 2% 2%;
  background-color: #FFFFFF;
  font-size: 17px;
  border-radius: 5px;
  color: #2880ff;
}

/* ----------------------------FOOTER---------------------------------------- */

/*---------------- FIRST COLUMN------------------ */
.db-foot-backg {
  background-color: #031c4e;
  width: 100%;
  min-height: 500px;
}

.db-final-padd {
  padding-bottom: 50px;
}

.db-foot1 {
  font-family: 'Roboto', sans-serif;
  color: #7a859d;
  padding: 50px 0px 30px 0px;
}

.db-social-logos li {
  display: inline;
  padding: 0px 10px 0px 0px;
}

.db-social-logos a:link,
.db-social-logos a:visited,
.db-social-logos a:active,
.db-social-logos a:hover {
  color: #7a859d;
  line-height: 200%;
}

.db-foot1 p:first-of-type {
  color: #808ba2;
  padding: 10px 0px 0px 0px;
}

.db-foot1 > p:nth-child(3){
  padding-bottom: 5px;
}

/* ----------------ALL THE OTHER COLUMNS----------------- */

.db-foot-column {
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
}

.db-foot-column a:link,
.db-foot-column a:visited,
.db-foot-column a:active,
.db-foot-column a:hover {
  color: #808ba2;
}

.db-every-first-title-footer {
  color: #FFFFFF;
}

/* ---------------------SHARK ICON--------------------- */

.db-shark1 {
  text-align: center;
  width: auto;
  background-color: #006aff;
  border-radius: 10px;
  float: right;
  margin-right: 30px;
  margin-bottom: 40px;
  position: relative;
}

/* WHITE CIRCLE */
.db-shark1 > i:nth-child(2) {
  color: white;
  position: absolute;
  top: -20px;
  right: -15px;
  font-size: 40px;
}

/* RED CIRCLE */
.db-shark1 > i:nth-child(3) {
  color: red;
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 30px;
}

/* NUMBER*/
.db-shark1 > i:nth-child(4) {
  color: #FFFFFF;
  position: absolute;
  top: -12px;
  right: 0px;
  font-size: 20px;
}

.db-shark-speech-bubble {
  width: 300px;
  height: 60px;
  background-color: white;
  float: right;
  border-radius: 5px;
  margin-right: 30px;
  display: inline;
}

.db-shark-speech-bubble > p {
  padding: 10px 5px 0px 10px;
  font-family: 'Roboto', sans-serif;
}

#db-shark-arrow {
  font-size: 30px;
  color: #FFFFFF;
  float: right;
  position: relative;
  left: 10px;
}

/* THIS PUTS THE INTIRE ROW IN POS. FIXED */
.db-fixed {
  position: fixed;
  bottom: 1px;
  right: 1px;
}

/* THIS MAKES THE BUBBLE TEXT INVISIBLE. ON LINE 644 IT BECOMES VISIBLE WHILE HOVERING */
.db-shark-speech-bubble {
  display: none;
}

/* THIS MAKES ME SELECT THE ELEMENT INSIDE THE ROW (WITH CLASS) AND JUST HOVERING ON IT THE ELEMENT BECOMES INLINE = VISIBLE AGAIN*/
/*while hovering on (n1) get (n2) and make it visible again" */
.db-hovering-text:hover > .db-shark-speech-bubble {
  display: inline;
}










/* --------------------MEDIA QUERY XS-------------------------------------- */

@media all and (max-width: 767px) {
/* HEADER RULES */
.head2 {
  display: none;
}

.head3 {
  display: none;
}

/* "DEPLOY" SECTION RULES */
.db-invisible {
  display: none;
}

.db-weird-stuff {
  position: absolute;
  left: 2px;
}

/* "DESIGNED FOR DEVELOPERS" SECTION RULES*/
.db-invisible-xs {
  display: none;
}

/* FAKE TABLE SECTION */
.db-padding-nested {
  padding-top: 80px;
}

/* "LOVE DIGITAL OCEAN" SECTION*/
.db-moving-arrows1,
.db-moving-arrows2 {
  display: none;
}
/* THIS MAKES SPACE IN XS BETWEEN WHITE CONTAINER ND GRAY */
.db-space-between-white-and-grey {
  padding-left: 60px;
  padding-right: 60px;
}

/* FOOTER */
.db-foot-column {
  padding-bottom: 0px;
}

/* THIS MAKES ALL THE COLS DETATCH FROM LEFT MARGIN WHILE IN XS */
.db-margin-xs {
  margin-left: 20px;
}

}


/*------------------------MEDIA QUERY MD--------------------------------------*/

@media all and (min-width: 768px) and (max-width: 991px) {
/* HEADER */
.head2 {
  display: none;
}

.head3 {
  display: none;
}

/* DEPLOY SECTION */
.db-invisible {
  display: none;
}

.db-moved-right {
  float: right;
}

/* "DESIGNED DEVELOPERS" SECTION */
/* TRANSITION TO MD MAKES THIS BIGGER */
.db-invisible-xs {
  font-size: 50px;
}

/* FAKE TABLE SECTION */
.db-padding-nested {
  padding-top: 80px;
}

/* FOOTER */
.db-foot-column {
  padding-bottom: 0px;
}

/* THIS MAKES ALL THE COLS DETATCH FROM LEFT MARGIN WHILE IN MD */
.db-margin-md {
  margin-left: 30px;
}

}


/* -------------------------------- MEDIA QUERY LG--------------------------- */

@media all and (min-width: 992px) {
/* HEADER */
#db-hamburger {
  display: none;
}

}
