/* GENERAL RULES FOR THE COLS */

[class*="col-"] {
  border: 1px solid transparent;
  background-color: yellow;
  min-height: 70px;
  border: 1px solid black;
}

/* THIS MAKES ALL THE BULLETS GO AWAY */

ul, ol {
  list-style: none;
}

/* BODY */

body {
  padding-top: 70px;
}

/* header */

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 900;
  height: 70px;
  line-height: 70px;
  background-color: #FFFFFF;
}

/* -------------ONE--------------- */

#logo-pic {
  vertical-align: middle;
  max-width: 100%;
}

/* --------------TWO---------------- */

.head2 li {
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.head2 a {
  color: #000000;
}

.head2 a:link {
  text-decoration: none;
}

.head2 a:visited {
  text-decoration: none;
}

.head2 a:hover {
  color: blue;
}

/* ------------THREE--------------------- */

ul.head3 {
  list-style-type: none;
}

.head3 li {
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.head3 li:last-child {
  margin:0;
}

.head3 a {
  color: #000000;
}

.head3 a:link {
  text-decoration: none;
}

.head3 a:visited {
  text-decoration: none;
}

.head3 a:hover {
  color: blue;
}


.head3 .sign-up-link a {
  color: blue;
}

.sign-up-link a {
padding: 10px 10px 10px 10px;
border: 1px solid blue;
border-radius: 5px;
color: blue;
margin-right: 0;
}

#db-hamburger {
  margin-right: 2px;
  font-size: 50px;
  color: blue;
}

#db-hamburger:visited,
#db-hamburger:hover,
#db-hamburger:link {
  color: blue;
}

.text-right {
  text-align: right;
}

/* ------------JUMBOTRON------------------------------------ */

.jumbotron {
  width: 100%;
  background-image: url(../img/jumbo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

.db-pad {
  padding: 80px 0px 0px 0px;
}

.jumbo-text {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.jumbo-text > h1 {
  font-size: 60px;
}

.jumbo-text > p {
  padding-top: 20px;
  font-size: 25px;
}

.db-white-container {
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

.db-white-container > h3 {
  color: blue;
  padding-bottom: 20px;
}

/* ------------FORM--------------- */

#db-email, #db-pwd {
  height: 35px;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form1 input[type=submit] {
  width: 80%;
  padding: 10px 0px 10px 0px;
  background-color: #579aff;
  border: none;
  color: white;
  text-decoration: none;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.form1 input[type=button] {
  background-image: url(../img/google-icon.png);
  background-position: left;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 80%;
  padding: 10px 0px 10px 0px;
  border: 0.5 solid black;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  background-color: #FFFFFF;
}

.db-terms-service {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

/* ---------------WEBSITE LOGOS SECTION-------------- */

.under-jumbotron {
  text-align: center;
  height: 100%;
  line-height: 70px;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f5f9;
}

.first-under-jumbotron h3 {
  color: #8690a8;
}

.website-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#db-link-customers {
  text-decoration: none;
  color: blue;
}

/* --------"DEPLOY AND SCALE" SECTION*---------------/

/* debug */
.db-deploy {
  min-height: 200px;
}

.db-deploy1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}

.db-deploy1 > h2 {
  color: #031c4e;
  font-size: 30px;
  padding-top: 80px;
}

.db-deploy1 > p {
  color: #5c6a88;
  font-size: 25px;
  padding-top: 10px;
}

.db-weird-stuff {
  width: 30%;
  margin: auto;
  border-left: 1px solid grey;
  line-height: 200%;
  color: #5c6a88;
}

/* --------------------MEDIA QUERY-------------------------------------- */

@media all and (max-width: 767px) {

  /* HEADER RULES */
  .head2 {
    display: none;
  }
  .head3 {
    display: none;
  }

  /* "DEPLOY" SECTION RULES */

  .db-invisible {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {

  .head2 {
    display: none;
  }

  .head3 {
    display: none;
  }
}

@media all and (min-width: 992px) {

  #db-hamburger {
    display: none;
  }
}
